<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pessoas</title>
</head>
<body>
    <h1>Pessoas cadastradas</h1>
    <ol>
        {% for pessoa in pessoas %}
            <li>
                <i>Nome: </i>{{pessoa.nome}}
                <i>Idade: </i>{{pessoa.idade}}
                <i>email: </i>{{pessoa.email }}
                <a href="{% url 'deletarPessoa' pessoa.id %}">Deletar</a>
                <a href="{% url 'atualizarPessoa' pessoa.id %}">Atualizar</a>
            </li>
        {% empty %}
            <li>Lista vazia</li>
        {% endfor %}
        <a href="{% url 'criarPessoa' %}" style="color: rgb(10, 233, 10);">Criar pessoa</a>
    </ol>
</body>
</html>